name: generate-keystore

on:
  workflow_dispatch:

jobs:
  make-keystore:
    runs-on: ubuntu-latest

    steps:
      - name: Create keystore
        run: |
          keytool -genkeypair \
            -alias release \
            -keyalg RSA \
            -keysize 2048 \
            -validity 10000 \
            -keystore release.keystore \
            -storepass pass12345 \
            -keypass pass12345 \
            -dname "CN=example"

      - name: Convert to base64
        run: |
          base64 release.keystore | tr -d '\n' > release.keystore.b64

      - name: Upload keystore
        uses: actions/upload-artifact@v4
        with:
          name: keystore-b64
          path: release.keystore.b64
